$purpleColor: #4F27BF;
$white_color: #FFFFFF;
$bg_white_color: #E5E5E5;
$grey_color: #D7D7D7;
$grey_color: #6C6C6C;
$black_color: #1C1C1E;
$black_color: #000000;
$box_shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
$box_shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);